body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image:url('./images/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: crimson;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px ;
}

.item {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: calc(25% - 40px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.item img {
  width: 100%;
  max-height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item h3 {
  margin: 0;
}

.item p {
  margin: 8px 0;
}

.item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item button:hover {
  background-color: #0056b3;
}
